{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <title>Django Task Manager</title>
</head>
<body>
    <a style="text-align: center;" href="/api/" target="_blank"><h3>API</h3></a>
    <h1>Task Manager</h1>
    <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input id="submit" type="submit" value="submit">
    {% block content %}
    {% endblock %}
    </form>
    <section class="checklist">
    <img class="clipboard" src="{% static 'clipboard.png' %}">
    <ul  class="task-items">
    {% for task in tasks %}
        <li><p><a href="/edit/{{ task.id }}"><span class="task-name">{{ task }}</span> (created on: {{ task.created }})
        <span class="task-description">description: {{ task.notes }}</span></a></p></li>
    {% endfor %}
    </ul>
  </section>
</body>
</html>
