html {
  height: 100%;
}
body {
  background: rgba(40,30,35,0.25);
  position: relative;
  display: block;
  height: 100%;
  margin: 0;
}

body::after{
  content: "";
  background-image: url('https://image.freepik.com/free-photo/coffee-in-the-workplace_1112-114.jpg');
  /*background-image: url('http://www.adweek.com/socialtimes/wp-content/uploads/sites/2/2015/06/ChecklistOnDesk.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

h1, h3 {
  margin: 0;
}

h1 {
  color: rgba(180, 53, 13, 0.9);
}

input {
  color: rgba(190, 53, 13, 0.9);
}

label, #submit, #delete_button   {
  color: rgba(255, 53, 13, 0.9);
  margin: 0.5%;
}

li {
    list-style: none;
}

a {
  text-decoration: none;
  color: rgba(150, 0, 0, 0.5);
}

span.task-name {
  color: rgba(255, 53, 13, 0.5);
  text-transform: uppercase;
}

span.task-description {
  display: block;
  color: rgba(40,40,40,0.8);
}


li a:hover {
  color: red;
}

/*desktop*/
  .checklist {
    width: 50%;
    transform: rotate(12deg);
    position: relative;
    top: 5%;
    left: 10%;
    height: 70%;
    position: relative;
    padding: 2%;
  }

  /*tablets */
  @media only screen   and (min-width: 480px)
    and (max-width: 1024px) {
    .checklist {
      width: 75%;
      transform: rotate(0deg);
      position: relative;
      top: 5%;
      left: 12.5%;
      height: 70%;
      position: relative;
    }
  }

/*smartphone*/
@media only screen   and (min-width: 320px)
  and (max-width: 480px) {
  .checklist {
    width: 95%;
    transform: rotate(0deg);
    position: relative;
    top: 5%;
    left: 0;
    height: 70%;
    position: relative;
  }
}

.clipboard {
  height: 110%;
  width: 96%;
  position: absolute;
  opacity: 0.5;
}

.task-items {
    font-family: Indie Flower;
  width: 90%;
  position: relative;
  top: 15%;
}

.task-items li {
  padding-right: 5%;
}

